<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Reading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAD0F6A41CC8ADA0007F7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD0F6B81CC8ADA0007F7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAD0F6C31CC8ADA0007F7973</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
